<%= render 'shared/error_messages', object: f.object %>
<div class = "ui-widget">
  <label for="participant_name">Participant Name:</label> <br/>
  <input type="text" id="participant_name">
</div>
<div>
  <%= f.hidden_field :participant_id, :id => "participant_id" %>
</div>

<div>
  <%= f.label :sched_date_field, "Interview Date" %> </br>
  <%= f.text_field :sched_date_field, :id => "date-picker" %>
</div>

<div>
  <%= f.label :sched_time_field, "Interview Time" %> </br>
  <%= f.text_field :sched_time_field, :id => "time-picker" %>
</div>

<script type="text/javascript">
  $(function() {

    // Below is the name of the textfield that will be autocomplete    
    $('#participant_name').autocomplete({
      minLength: 2,
      source: '<%= participants_path(:json) %>',
      //Set name with keyboard
      focus: function(event, ui) { 
        $('#participant_name').val(ui.item.name);
        return false;
      }, 
      // Once a value in the drop down list is selected, do the following:
      select: function(event, ui) {
        // place the participant.name value into the textfield called 'participant_name'...
        $('#participant_name').val(ui.item.name);
      // set participant_id to participant.id
        $('#participant_id').val(ui.item.id);
          return false;
      }
    })

    $('#date-picker').datepicker();

    $.mask.definitions['@'] = '[AP]';
    $.mask.definitions['1'] = '[0-1]';
    $.mask.definitions['5'] = '[0-5]';
    $('#time-picker').mask('19:59 @M')

  });
  </script>