<h1 class = "main-header"><%= @study.name %></h1>
<p class = "subtitle"><%= @study.description %></p>
<%= link_to "edit", edit_study_path %> | 
<%= link_to "delete", @study, method: :delete, data: { confirm: "Delete This Study?" } %> <br />
<% if @study.tags.any? %>
  <div class="section">
    <div class="span12">
       <h3>Tags:</h3>
      <% @study.tags.each do |tag| %>
        <%= link_to tag.name, studies_path(:tag => tag.name), :class => "tag" %>
      <% end %> <br />
    </div>
  </div>
<% end %>

<div class="section">
  <div class="span12">
    <h3>Interviews</h3>
      <%= render "interview_dates" %>
  </div>
</div>



<% if @study.notes.present? %>
    <div class="notes">
      <h2>Notes</h2>
      <%= markdown @study.notes %>
    </div>
  
<% end %>
<%= link_to "back to studies", studies_path %>