
  <h1 class = "main-title">UserBase</h1>

  <% if user_signed_in? %>
    <h2>Welcome, <%= current_user.name %></h2>
    <div class="section">
      <%= link_to studies_path do %>
        <div class="span6 action-tile big">View Studies</div>
      <% end %>
      <%= link_to participants_path do %>
        <div class="span6 action-tile big">View Participants</div>
      <% end %>
      <%= link_to new_study_path do %>
        <div class="span6 action-tile small">+ Create A Study</div>
      <% end %>
      <%= link_to new_participant_path do %>
        <div class="span6 action-tile small">+ Create A Participant</div>
      <% end %>
    </div> 

  <% else %>

    <h2>Welcome to UserBase, the User Research Database</h2>
    <p>I'm not going to waste a bunch of time here since the only people currently looking at this site are most likely people I work with. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, impedit, repellat assumenda voluptate dolor nulla hic voluptatum harum labore accusantium voluptates consectetur reiciendis officiis ut eveniet. Voluptatem, ducimus corporis ut.</p>

  <% end %>

<script type="text/javascript">
  $(function() {

    // Below is the name of the textfield that will be autocomplete    
    $('#search_field').autocomplete({
      minLength: 2,
      source: '/search.json',
      //Set name with keyboard
      focus: function(event, ui) { 
        $('#search_field').val(ui.item.name);
        return false;
      }, 
      // Once a value in the drop down list is selected, do the following:
      select: function(event, ui) {
        // place the participant.name value into the textfield called 'search_field'...
        $('#search_field').val(ui.item.name);
      }
    })
  });
  </script>

